#----------------- Radar Parameters -----------------#
# light speed in m/s
LIGHT_SPEED=299792458

#----------------- Desired Radar Metric -----------------#
# Range Resolution, m
range_resolution_m=0.022

# Maximum range, m
max_range_m=0.7

# Maximum Speed, m/s
max_speed_m_s=1.5

# Speed resolution, m/s
speed_resolution_m_s=0.1                

#----------------- Chirp Configuration -----------------#
# central frequency of FMCW radar chirp in MHz (57100 to 63900)
#CENTRAL_FREQ=60500

# ramp sweep bandwidth in MHz (1 t0 6800)
#RAMP_BANDWIDTH=6800

# ramp sweep time in us (22, 23, 33, 34, 55, 57, 110, 115, 220, 230, 440, 460, 1100, 1150, 2200, 2300, 4400, 4600)
#RAMP_TIME=1100

# ramp slope in MHz/us
#RAMP_SLOPE=6.18

# number of total chirps from each antenna per frame (1 to 128 for Socionext Radar module)
#CHIRPS_PER_FRAME=16

# frame length in ms (1000 to 8.33 corresponding to frame rate 1 t0 120 respectively)
#FRAME_TIME=50

# idle time in us
#IDLE_TIME=462.5

#----------------- Radar Configuration -----------------#
# number of beams of DBF
num_beams=31

# FOV, angle ranges from -theta to +theta degrees
max_angle_degrees=60

# sample rate, 1 MHz
sample_rate_Hz=1000000

# activate RX1, RX2 and RX3, rx_mask = 111
rx_mask=7

# number of RX
NUM_RX=2

# activate TX1
tx_mask=1

# number of TX
NUM_TX=1

# IF Gain
if_gain_dB=33

# TX power level: 0 ~ 31
tx_power_level=31

# Frame Period, Frame Rate = 20 Hz
frame_repetition_time_s=0.05

# radar frequency band
center_frequency_Hz=60750000000

#----------------- ADC Parameters -----------------#
# sample rate in ksps
#SAMPLE_RATE=125

# number of samples in one chirp (32, 64, 128, 256, 512, 1024)
#SAMPLES_PER_CHIRP=64

#----------------- FFT Parameters -----------------#
# number of range fft
RANGE_FFT=64

# number of Doppler fft
DOPPLER_FFT=32

#----------------- DSP Parameters -----------------#
# exponential smoothing factor, 0 < alpha < 1
alpha=0.05

# window length of gesture recognition, sec
win_len=3

#----------------- Directories and Files -----------------#
# log directory
log_dir=logs/
